body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    margin: 0 auto;
}

main {
    margin: 50px 100px;
}

h1 {
    font-weight: 200;
    text-align: center;
    color:hsl(234, 12%, 34%);
    font-size: 36px;
}

.description {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color:hsl(229, 6%, 66%);
    font-size: 15px;
}

span {
    font-weight: 600;
    display: block;
}

h2 {
    color:hsl(234, 12%, 34%);
    font-size: 24px;
}

.task {
    color:hsl(229, 6%, 66%);
    font-size: 15px;
}

.attribution {
    font-size: 11px; text-align: center;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}





footer {
    font-family: 'Poppins', sans-serif;
    color: hsl(0, 78%, 62%)
    hsl(180, 62%, 55%)
    hsl(34, 97%, 64%)
    hsl(212, 86%, 64%)
    hsl(234, 12%, 34%)
    hsl(229, 6%, 66%)
    hsl(0, 0%, 98%)
}


/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 15px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600
*/